<h2>Bate papo do EAD</h2>
<div id="chat-box">

</div>

<form id="chat-form">
  <input type="text" placeholder="Username" id="user-name">
  <textarea placeholder="Your comment" id="user-msg"></textarea>
  <button type="submit">Post</button>
</form>
